<tr>
  <td>
    <%= link_to session, class: "ui header" do %>
      <%= session.thumbnail %>
      <%= session.name %>
    <% end %> 
  </td>
  <td class="grey text"><%= session.formatted_date %></td>
  <td>
    <span class="ui large grey text">
      <i class="icon sticky note"></i><%= session.data_points_count %>
    </span>
      <%= link_to "Completed Data Points", tab_session_path(session, tab: :data_points) %>
  </td>
  <td>
    <span class="ui large grey text">
      <i class="icon image"></i><%= session.photos.count %>
    </span>
    <%= link_to "Photos", tab_session_path(session, tab: :photos) %>
  </td>
</tr>