<div class="ui basic vertical clearing segment">
  <div class="ui right floated horizontal list">
    <%= link_to "#", class: "ui right labeled branded icon button", data: {transition: "slideDown", target: "#new-session"} do %>
      <i class="icon plus"></i>
      <span>Add a new session</span>
    <% end if policy(Session).new? %>
  </div>

  <h1 class="ui left floated header">My Sessions (<%= @sessions.total_count %>)</h1>
</div>

<%= render "new_session" if policy(Session).new? %>

<div class="ui basic vertical segment">
  <table class="ui table">
    <thead>
      <tr>
        <th><%= sortable "name", "Session Name" %></th>
        <th><%= sortable "date" %></th>
        <th>Number of Data Points</th>
        <th>Number of Photos</th>
      </tr>
    </thead>

    <tbody>
      <%= render @sessions, cached: true %>
    </tbody>
  </table>

  <%= paginate @sessions %>
</div>
