<div class="ui basic vertical clearing segment">
  <div class="ui right floated header">
    <ul class="ui large red horizontal divided list">
      <%= active_link_to "My Sessions", project_sessions_path(@session.project), class: "item", active: :exact %>
      <%= active_link_to "My Team's Sessions", project_sessions_path(@session.project, show: :all), class: "item", active: :exact %>
    </ul>
  </div>

  <%= link_to project_path(@session.project), class: "ui left floated medium header" do %>
    <i class="angle left icon"></i>Back
  <% end %>
</div>

<div id="session" data-session-id="<%= @session.id %>" data-active-tab="<%= @active_tab %>" class="ui segment">
  <div class="ui vertical clearing segment">
    <div class="ui large header">
      <%= @session.name %>
      <%= link_to edit_session_path(@session) do %><i class="grey icon pencil"></i><% end if policy(@session).edit? %>
      <div class="ui grey text session-date">Session date: <%= @session.date %></div>
    </div>
  </div>

  <div class="ui vertical segment">
    <div class="ui pointing secondary menu">
      <%= link_to tab_session_path(@session, tab: :photos), class: "item #{active_tab('photos')}" do %>
        <span class="ui medium text">
          <i class="icon image"></i><%= content_tag :span, nil, "data-count" => @session.photos.count %>
        </span>
        Photos
      <% end %>
      <%= link_to tab_session_path(@session, tab: :consent_forms), class: "item #{active_tab('consent_forms')}" do %>
        <span class="ui medium text">
          <i class="icon file"></i><%= content_tag :span, nil, "data-count" => @session.consent_forms_count %>
        </span>
        Consent Forms
      <% end %>
      <%= link_to tab_session_path(@session, tab: :data_points), class: "item #{active_tab('data_points')}" do %>
        <span class="ui medium text">
          <i class="icon sticky note"></i><%= content_tag :span, nil, "data-count" => @session.data_points_count %>
        </span>
        Data Points
      <% end %>

      <%= content_tag :div, class: "item floated right" do %>
        <%= link_to "#", id: "toggle-bookmarks", class: "red" do %>
          View <span>Bookmarks</span>
        <% end %>
      <% end if @active_tab == "data_points" %>
    </div>

    <div class="ui tab basic segment active">
      <div class="ui six cards">
        <%= render "tab_#{@active_tab}" %>
      </div>
    </div>
  </div>
</div>

<div class="ui fixed inverted dimmer">
  <div class="ui medium text loader">Uploading</div>
</div>