<header class="<%= "with-submenu" if has_submenu? %>">
  <div class="ui borderless fixed menu">
    <div class="item">
      <%= link_to root_path, class: "ui red header logo" do %>Data Journal
        <%= content_tag :span, Rails.env.downcase, class: "ui tiny label" unless Rails.env.production? %>
      <% end %>
    </div>

    <div class="ui right dropdown item">
      <% if user_signed_in? %>
        <%= current_user.decorate.name_with_avatar %>
        <i class="dropdown icon"></i>
        <div class="ui menu">
          <%= link_to edit_user_registration_path, class: "item" do %>
            <i class="icon user"></i>
            My profile
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete, class: "item" do %>
            <i class="icon sign out"></i>
            Sign out
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <% if has_submenu? %>
  <div class="ui borderless fixed sub menu">
    <div class="item">
      <%= link_to @project.name, project_sessions_path(@project), class: "ui small header" %>
    </div>

    <div class="item">
      <strong>Due Date:</strong> <span class="ui grey text due-date"><%= @project.due_date %></span>
    </div>

    <%= content_tag :div, @project.due_date_status, class: "item" %>

    <div class="right menu">
      <div class="item">
        <%= active_link_to "My Sessions", project_sessions_path(@project), class: "red", active: :exact, data: { sessions: @project.sessions.for_member(current_user).count, data_points: @project.data_points.for_member(current_user).count, position: "bottom right", project_summary: true } %>
        <span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
        <%= active_link_to "My Team's Sessions", project_members_path(@project), class: "red", active: :exact, data: { sessions: @project.sessions_count, data_points: @project.data_points.count, position: "bottom right", project_summary: true } %>
      </div>
    </div>
  </div>
  <% end %>
</header>