<tr class="top aligned project<%= ' archived' if project.archived? %>">
  <td>
    <div class="ui large header"><%= link_to project.name, project_members_path(project) %></div>
    <% unless project.archived? %>
      <div class="ui list">
        <%= content_tag :div, project.activity_status, class: "item" %>
        <%= content_tag :div, project.due_date_status, class: "item" %>
      </div>
    <% end %>
  </td>
  <td><span class="ui grey text due-date"><%= project.due_date %></span></td>
  <td class="bold"><%= project.last_updated unless project.archived? %></td>
  <td>
    <% if policy(project).unarchive? %>
      <%= link_to "Reactivate this project", unarchive_project_path(project), method: :post, class: "medium text" %>
    <% else %>
      <div class="ui horizontal large divided sessions list">
        <%= link_to "My Sessions", project_sessions_path(project), class: "ui red bold item", data: { sessions: project.sessions.for_member(current_user).count, data_points: project.data_points.for_member(current_user).count, project_summary: true } %>
        <%= link_to "My Team's Sessions", project_members_path(project), class: "ui red bold item", data: { sessions: project.sessions_count, data_points: project.data_points.count, project_summary: true } %>
      </div>
        <% if policy(project).edit? %>
          <div>Design Team Members (<%= project.memberships.size %>)</div>
          <div class="ui horizontal members list">
            <div class="item">
              <div class="ui tiny horizontal list">
                <%= project.design_team %>
                <%= link_to edit_project_path(project) do %>
                  <i class="icon large blue write"></i>
                <% end if policy(project).edit? %>
              </div>
            </div>
          </div>
        <% end %>
    <% end %>
  </td>
  <td>
    <%= link_to project_path(project, format: :pdf), class: "red text", target: "_blank" do %>
      Download Project <i class="red icon download"></i>
    <% end if project.data_points.any? && !project.archived? %>
  </td>
</tr>