<div class="ui padded segment">
  <div class="ui grid">
    <div class="thirteen wide column">
      <p id="photo-preview">
        <% if @photo %>
          <%= image_tag @photo.image_url(:large), id: "croppable", class: "ui fluid image" %>
        <% elsif @data_point.photo %>
          <%= image_tag @data_point.photo.image_url(:square), class: "ui fluid image" %>
        <% end %>
      </p>
      <%= render "photo_chooser", f: f %>
    </div>
  </div>

  <h5>
    Observation<br>
    <small class="grey text">What happened? What did you see and hear?</small>
  </h5>
  <p class="field">
    <%= f.text_area :observation, maxlength: 300, rows: 5, placeholder: "Type your observation here." %>
    <small><span>0</span>/300 characters</small>
  </p>

  <h5>
    Interpretation<br>
    <small class="grey text">Why is this meaningful to you? Does it give you any new questions or ideas?</small>
  </h5>
  <p class="field">
    <%= f.text_area :meaning, maxlength: 300, rows: 5, placeholder: "Type the possible meaning of that observation here." %>
    <small><span>0</span>/300 characters</small>
  </p>
</div>