<div class="ui padded segment">
  <div class="ui grid">
    <div class="thirteen wide column">
      <p id="photo-preview">
        <% if @photo %>
          <%= image_tag @photo.image_url(:large), id: "croppable", class: "ui fluid image" %>
        <% elsif @data_point.photo %>
          <%= image_tag @data_point.photo.image_url(:square), class: "ui fluid image" %>
        <% end %>
      </p>
      <%= render "photo_chooser", f: f %>
    </div>
  </div>

  <h5>
    Observation<br>
    <small class="grey text">What happened? What did you see or hear?</small>
  </h5>
  <p class="field"><%= f.text_area :observation, maxlength: 250, placeholder: "Type your observation here." %></p>

  <h5>
    Possible Meaning<br>
    <small class="grey text">What do you think that means?</small>
  </h5>
  <p class="field"><%= f.text_area :meaning, maxlength: 115, placeholder: "Type the possible meaning of that observation here." %></p>
</div>