<div class="ui sticky">
  <%= link_to @data_point.session, class: "ui large header" do %>
    <%= @data_point.session.name %>
    <div class="ui sub header"><%= pluralize(@data_point.session.photos.count, "photo") %></div>
  <% end %>

  <div class="ui small header">
    <%= pluralize(@data_point.session.data_points.count, "Completed Data Point") %>
  </div>
  
  <div id="related" class="ui three cards">
    <%= render @related_points, cached: true %>
  </div>
</div>