<%= content_for :page_title, "Edit Data Point" %>

<div id="data_point">
  <%= render "back" %>

  <%= form_for @data_point, html: { class: "ui form", data: { loading_text: "Updating Data Point", dirty: false } } do |f| %>
    <div class="ui grid">
      <div class="four wide column">
        <%= render "info" %>
      </div>
      <div class="one wide column"></div>

      <div class="seven wide column">
        <%= render "form_fields", f: f %>

        <div class="field">
          <div class="ui horizontal list">
            <div class="item">
              <%= f.submit "Save", class: "ui fluid red button" %>
            </div>
            <div class="item">
              <%= link_to "Cancel", "javascript:history.go(-1)", class: "ui fluid basic button" %>
            </div>
          </div>
        </div>
      </div>
      <div class="one wide column"></div>

      <div class="three wide column">
        <div class="ui sticky">
          <div class="ui list">
            <div class="item">
              <%= f.submit "Save changes", class: "ui fluid red button" %>
            </div>
            <div class="item">
              <%= link_to "Cancel", @data_point, class: "ui fluid basic button" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %> 
</div>
