<div id="data_point">
  <div class="ui basic vertical clearing segment">
    <h1 class="ui left floated header">Data Point Detail</h1>
  </div>

  <%= form_for @data_point, html: { class: "ui form", data: { loading_text: "Updating Data Point" } } do |f| %>
    <div class="ui grid">
      <div class="five wide column">
        <%= render "info" %>
      </div>

      <div class="seven wide column">
        <%= render "form_fields", f: f %>

        <div class="field">
          <div class="ui horizontal list">
            <div class="item">
              <%= f.submit "Save", class: "ui fluid red button" %>
            </div>
            <div class="item">
              <%= link_to "Cancel", :back, class: "ui fluid basic button" %>
            </div>
          </div>
        </div>
      </div>

      <div class="three wide column">
        <div class="ui sticky">
          <div class="ui list">
            <div class="item">
              <%= f.submit "Save changes", class: "ui fluid red button" %>
            </div>
            <div class="item">
              <%= link_to "Cancel", @data_point, class: "ui fluid basic button" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %> 
</div>
