<div id="data_point">
  <div class="ui basic vertical clearing segment">
    <h1 class="ui left floated header">Data Point Detail</h1>
  </div>

  <%= form_for @data_point, url: session_data_points_path(@session), remote: true, html: { class: "ui form" } do |f| %>
    <div class="ui grid">
      <div class="five wide column">
        <%= link_to @session, class: "ui header" do %>
          <%= @session.name %>
          <div class="ui sub header"><%= pluralize(@session.photos.count, "photo") %></div>
        <% end %>

        <div class="ui small header">
          <%= pluralize(@session.data_points.count, "Completed Data Point") %>
        </div>
        <div class="ui three cards">
          <%= render @related_points %>
        </div>
      </div>

      <div class="seven wide column">
        <%= render "form_fields", f: f %>
      </div>

      <div class="two wide column">
        <div class="ui list">
          <div class="item">
            <%= f.submit "Save", class: "ui fluid red button" %>
          </div>
          <div class="item">
            <%= link_to "Cancel", :back, class: "ui fluid basic button" %>
          </div>
        </div>
      </div>
    </div>
  <% end %> 
</div>
