<div class="ui card">
  <%= link_to consent_form, class: "image" do %>
    <%= image_tag consent_form.images.first.url(:thumb) %>
  <% end %>
  <div class="content">
    <%= best_in_place consent_form, :name, as: :input, place_holder: "Untitled" %>
  </div>
  <div class="extra content">
    <%= link_to download_consent_form_path(consent_form), class: "right floated" do %>
      <i class="icon download"></i>
    <% end %>
    <span>
      <i class="icon photo"></i>
      <%= pluralize(consent_form.images.size, "page") %>
    </span>
  </div>
</div>