<!DOCTYPE html>
<html>
  <head>
    <title>Data Journal<%= " – #{yield(:title)}" if yield(:title).present? %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "https://cloud.typography.com/6669114/7760172/css/fonts.css", media: "all" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= action_cable_meta_tag %>
  </head>

  <body>
    <%= render "shared/header" %>

    <main class="ui padded main">
      <%= render "shared/flash" %>
      <%= yield %>
    </main>

    <div id="loading-overlay" class="ui fixed inverted dimmer">
      <div class="ui medium text loader">Uploading</div>
    </div>
  </body>
</html>
