<!DOCTYPE html>
<html>
  <head>
    <title><%= raw "#{yield(:page_title)} | " if yield(:page_title).present? %> Data Journal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= action_cable_meta_tag %>
    <%= render "shared/branding" %>
    <meta name="viewport" content="width=1240">
  </head>

  <body>
    <%= render "shared/header" %>

    <main class="ui padded main">
      <%= render "shared/flash" %>
      <%= yield %>
    </main>

    <div id="loading-overlay" class="ui fixed inverted dimmer">
      <div class="ui medium text loader">Uploading</div>
    </div>
  </body>
</html>
