<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{yield(:page_title)} | " if yield(:page_title).present? %> Data Journal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "https://cloud.typography.com/6669114/7760172/css/fonts.css", media: "all" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="devise" data-controller="<%= controller.controller_path %>" data-action="<%= controller.action_name %>">
    <%= render "shared/header" %>

    <div class="ui middle aligned center aligned grid">
      <div class="column">
        <div class="ui left aligned padded segment">
          <%= render "shared/flash" %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
