<%= content_for :page_title, "My Profile" %>

<h2 class="ui center aligned header">Crop Your Profile Picture</h2>

<%= form_for(current_user, url: update_user_avatar_path, html: { method: :post, class: "ui form" }) do |f| %>
  <div class="field">
    <%= image_tag current_user.avatar_url(:large), id: "croppable" %>
    <% %w[x y w h].each do |attribute| %>
      <%= f.hidden_field "crop_#{attribute}" %>
    <% end %>
  </div>

  <div class="actions">
    <%= hidden_field_tag :invited, true if params[:invited] %>
    <%= f.submit "Crop", class: "ui fluid primary button" %>
  </div>
<% end %>
